{% extends "blayout.html" %}
{% block content %}
<style>

    .container{
        height: 100vh;
        padding-top: 160px;
    }
</style>
<div class="container">
    <h1>Your Orders</h1>
        {% for order in user_orders %}
        <div class="card-container mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Order ID: {{ order.id }}</h5>
                    <p class="card-text"><strong>Items:</strong> {{ order.items }}</p>
                    <p class="card-text"><strong>Prices:</strong> {{ order.prices }}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-text"><strong>Apple Watch Series 7:</strong> {{ order.watch7 }}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-text"><strong>Apple Watch SE:</strong> {{ order.watchSE }}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-text"><strong>Apple Watch Series 3:</strong> {{ order.watch3 }}</p>
                        </div>
                    </div>
                    <p class="card-text"><strong>Timestamp:</strong> {{ order.timestamp }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}